<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset='utf-8'>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <link rel="stylesheet" type="text/css" href="{{ '/assets/css/print.css' | relative_url }}" media="print">
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

{% seo %}
    {% include head-custom.html %}
  </head>

  <body>
    <div id="container">
      <div class="inner">

        <header>
          <a href="index.html"><h1>{{ page.title | default: site.title | default: site.github.repository_name }}</h1></a>
          <h2>{{ page.description | default: site.description | default: site.github.project_tagline }}</h2>
          <a href="/about.html">About</a> | <a href="/gallery.html">Gallery</a> | <a href="/products.html">Products</a>
        </header>
        <hr>
        <section id="main_content">
          {{ content }}
        </section>

        <footer>
        <div class="footer-icons">
         <a href="https://www.instagram.com/pedropaints/">
              <img src="images/icons/Instagram_Glyph_Gradient.png" alt="Pete Rumble Art on Instagram - @pedropaints" style="width:42px;height:42px;">
        </a>    
          <a href="https://www.facebook.com/groups/4051316054988296">
              <img src="images/icons/Facebook_Logo_Primary.png" alt="Pete Rumble Art Facebook Group" style="width:42px;height:42px;">
        </a>        
          <a href="https://www.youtube.com/@peterumbleart">
              <img src="images/icons/YouTube.png" alt="Pete Rumble Art on YouTube" style="width:42px;height:42px;">
        </a>
        </div>
        {% if site.github.is_project_page %}
          {{ site.title | default: site.github.repository_name }} is maintained by <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a><br>
        {% endif %}
          <!-- Page by <a href="https://pages.github.com">SB</a>. -->
        </footer>

      </div>
    </div>
  </body>
</html>
